---
layout: default
title: Publications
permalink: /publications/
---

<span id="content"></span>

<article id="main">
    <header class="special container">
        <!-- <span class="icon fa-solid fa-scroll"></span> -->

        <h2>publications</h2>
    </header>

    <section class="wrapper style4 container">
        <div class="row oneandhalf">
            <div class="2u">
                <div class="sidebar">
                    <section>
                        <div class="sidebar small-sidebar">
                            {% assign cGroup = site.data.sheets.pub | group_by:
                            "class" %}
                            {% for class in cGroup %}
                            <a class="small-button"
                                href="#{{ class.name | slugify }}">{{ class.name
                                }}</a>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>

            <div class="10u skel-cell-important">

                {% for class in cGroup %}
                <div class="class-section" id="{{ class.name | slugify }}">
                    <h2>{{ class.name }}</h2>
                    {% assign dGroup = class.items | group_by_exp: "item",
                    "item.date | date: '%Y' " %}

                    {% for dates in dGroup %}
                    <div
                        style="display:inline; color:rgb(104, 104, 104);background-color: rgba(8, 41, 68, 0); padding: 1px 5px ; font-weight: 400; border-radius:3px; font-size:1.2em;">{{
                        dates.name }}</div>
                    <div style="margin-bottom:13px;"></div>
                    <ul>
                        {% for pub in dates.items %}
                        {% assign items = pub.contents | replace: "?", " " |
                        split: ". " %}
                        <div style="margin-bottom: 10px;">
                            {% if pub.link != null %}
                            {% if items.size > 1 %}
                            <div
                                style="font-size:1.1em; font-weight: 400; margin-bottom:5px;">
                                <inline
                                    style="background-color: rgba(22, 30, 97, 0.521); border-radius:3px;">&nbsp</inline>
                                <a href="{{ pub.link }}" target="_blank">{{
                                    items[1] }}.</a></div>
                            <div
                                style="font-size:0.9em; font-weight: 350; margin-left:9px;">{{
                                items[0] }}.</div>
                            <div
                                style="font-size:0.8em; font-style: italic; margin-bottom:20px;margin-left:9px;">{%
                                for item in items offset:2 %}{{ item | replace:
                                ".", "" }}. {% endfor %}</div>
                            {% else %}
                            <div
                                style="font-size:1.1em; font-weight: 400; margin-bottom:5px;"><inline
                                    style="background-color: rgba(22, 30, 97, 0.521); border-radius:3px;">&nbsp</inline><a
                                    href="{{ pub.link }}" target="_blank">{{
                                    items }}</a></div>
                            {% endif %}
                            {% else %}
                            {% if items.size > 1 %}
                            <div
                                style="font-size:1.1em; font-weight: 400; margin-bottom:5px;"><inline
                                    style="background-color: rgba(22, 30, 97, 0.521); border-radius:3px;">&nbsp</inline>{{
                                items[1] }}.</div>
                            <div
                                style="font-size:0.9em; font-weight: 350; margin-left:9px;">{{
                                items[0] }}.</div>
                            <div
                                style="font-size:0.8em; font-style: italic; margin-bottom:20px;margin-left:9px;">{%
                                for item in items offset:2 %}{{ item | replace:
                                ".", "" }}. {% endfor %}</div>
                            {% else %}
                            <div
                                style="font-size:1.1em; font-weight: 400; margin-bottom:5px;"><inline
                                    style="background-color: rgba(22, 30, 97, 0.521); border-radius:3px;">&nbsp</inline>{{
                                items }}</div>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                    {% if class.name == "International Journal" %}<p>*: Equal
                        contributors</p>{% endif %}
                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</article>

<script>
    // JavaScript to toggle active class on sidebar link click
    const sidebarLinks = document.querySelectorAll('.sidebar a');
    const classSections = document.querySelectorAll('.class-section');

    sidebarLinks.forEach(link => {
        link.addEventListener('click', function () {
            const targetClass = this.getAttribute('href').substring(1);
            classSections.forEach(section => {
                if (section.id === targetClass) {
                    section.style.display = 'block';
                } else {
                    section.style.display = 'none';
                }
            });
            sidebarLinks.forEach(sidebarLink => {
                sidebarLink.classList.remove('active');
            });
            this.classList.add('active');
        });
    });
</script>
