/* CSS 추가 사항 */


  
  .paper-title {
    padding: 1px 0px 1px 0px;
  }
  
  .author-row-new {
    text-align: center;
  }
  
  .author-row-new a {
    display: inline-block;
    font-size: 20px;
    padding: 4px;
  }
  
  .author-row-new sup {
    color: #313436;
    font-size: 12px;
  }
  