
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}
    {% include banner.html %}

    <div class="page-content">
      {{ content }}
    </div>
    <button id="upButton" onclick="scrollToTop()"><span
        class="icon fa-solid fa-arrow-up"><br>TOP</span></button>

    {% include footer.html %}

    {% include admission_popup.html %}

  </body>

  <script>
  // 스크롤 이벤트를 감지하여 헤더 위치 조정
  window.addEventListener("scroll", function () {
    const header = document.getElementById("header");
    const image = header.querySelector("img");
    if (window.scrollY > 100) {
      header.classList.add("scroll-down");
      image.style.maxHeight = "40px"; // 스크롤 시 이미지 크기 줄이기
    } else {
      header.classList.remove("scroll-down");
      image.style.maxHeight = "50px"; // 스크롤을 올릴 때 이미지 크기 복원
    }
  });

  // 페이지 로드 시 실행되는 함수
  window.addEventListener('load', function() {
    // 팝업 닫기 이벤트
    document.getElementById('close').addEventListener('click', function() {
      document.getElementById('popup').style.display = 'none';
    });

    // 페이지 로드 시 팝업 열기
    document.getElementById('popup').style.display = 'block';
  });

  // admission_guide 페이지로 이동하는 함수
  function redirectToAdmissionGuide() {
    window.location.href = 'htmls\\admission_guide.html';
  }
</script>

</html>